click==8.3.1
dnspython==2.8.0
Flask==3.1.2
flask_cors==6.0.2
Flask_JWT_Extended==4.7.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
marshmallow==4.2.0
python-dotenv==1.2.1
SQLAlchemy==2.0.45
Werkzeug==3.1.4
WTForms==3.0.1
